<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Techie's Pond</title>
	<link rel="stylesheet" href="CSS/style.css">
	<script src="Javascript/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="Javascript/script.js"></script>
</head>
<body>
	<div id="pageContainer">
		<div id="header">
			<div id="headerImage"></div>
			<span class="headerFooterFontStyling">Techie's Pond</span>
			<div class="clearFloat"></div>
		</div>
		<div id="content">
			<div id="article" class="contentStyle">
				<div>Article Area</div>
			</div>
			<div id="about" class="contentStyle">
				<div>About Me</div>
			</div>
			<div id="compMsg" class="clearFloat headerFooterFontStyling">
				This site is compatible with Mozilla Firefox and Chrome
			</div>
		</div>
		<div id="footer">
			Some quote
		</div>
	</div>
</body>
</html>