/* For testing */
*{
margin: 0px;
padding: 0px;
}

/* For testing end*/

/* Appearence */
html{
min-height: 100%;
height: auto;
}

body{
width: 100%;
height: 90%;
/* Browsers with HTML5 compatibility issues */
background-color: darkgreen;
background-repeat: no-repeat;
/* IE10 */ 
background-image: -ms-linear-gradient(top, #326300 0%, #004769 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #326300 0%, #004769 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #326300 0%, #004769 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #326300), color-stop(1, #004769));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #326300 0%, #004769 100%);

/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #326300 0%, #004769 100%);
}


#pageContainer{
width: 70%;
margin: 2% auto 5% auto;
}

#headerImage{
float: left;
background-image: url('pondFlower.png');
background-repeat: no-repeat;
height:130px;
width:130px;
}

#header  span{
margin-top: 5%;
margin-left: 5%;
float: left;
font-size: 36px;
}

#footer{
position: fixed;
bottom: 0px;
left: 0px;
background-color: black;
opacity: 0.5;
width: 100%;
height: 15%;
}

#content{
padding: 10px 10px 10px 0px;
}

#article{
height: auto;
width: 70%;
float: left;
}

#about{
width: 25%;
float: right;
}

#compMsg{
width: 100%;
margin: auto;
display:block;
text-align: left;
}
#content div div{
padding: 10px;
}

.contentStyle{
margin: 10px auto;
border-radius: 10px;
background-color: #DFFFDF;
}

.headerFooterFontStyling{
color: #ff8;
font-family: cursive;
text-shadow: 2px 2px 5px grey;
}

.clearFloat{
clear: both;
}